@model VehicleReportUpdateDto
@{
    ViewData["Title"] = "Yenilə";
}


<h1>Nəqliyyat vəziyyətini yenilə</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="postDto.Name" class="control-label">Adı</label>
                <input asp-for="postDto.Name" class="form-control" value="@Model.getDto.Name" />
                <span asp-validation-for="postDto.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="postDto.Description" class="control-label">Məlumat</label>
                <input asp-for="postDto.Description" class="form-control" value="@Model.getDto.Description" />
                <span asp-validation-for="postDto.Description" class="text-danger"></span>
            </div>
            <input hidden asp-for="getDto.Id" />
            <div class="form-group">
                <input type="submit" value="Yadda saxla" class="btn btn-warning text-light" />
                <a asp-action="index" class="btn btn-outline-danger">Imtina</a>
            </div>
        </form>
    </div>
</div>