<div class="d-flex justify-content-between m-5 border p-3 ">
    <a asp-controller="account" asp-action="confirmeds">Saytdakı elanlar</a>
    <a asp-controller="account" asp-action="expireds">Müddəti başa çatmış elanlar</a>
    <a asp-controller="account" asp-action="awaits">Gözləmədə olan elanlar</a>
    <a asp-controller="account" asp-action="cancelleds">İmtina olunmuş elanlar</a>
</div>