@model List<VehicleGetDto>
@{
    ViewData["Title"] = "Saytdakı elanlarım";
}
<div class="">
    <partial name="/Views/Shared/_AdsPartialView.cshtml"></partial>
</div>
<div>
    @await Component.InvokeAsync("Vehicle",new{vehicles=Model})
</div>

