
<div class="d-flex  justify-content-start">
    <div class=" mb-3">
        <div class="form-outline">
            <label class="form-label me-4" for="form1">Marka/Modelinə görə Axtar</label>
            <input type="search" id="search-input" />
        </div>
    </div>

    <div class="ms-5 me-5">
        <div class="form-outline">
            <label class="form-label me-4" for="form1">Sahib nömrəsinə görə Axtar</label>
            <input type="number" id="search-input-number" />
        </div>
    </div>

    <button class="search-button btn btn-primary mb-4" type="button">
        <i class="fas fa-search"></i>
    </button>
</div>