@{
    ViewData["Title"] = "Səhifə tapılmadı";
}

<div class="d-flex align-items-center justify-content-center" style="height:85vh">
    <div class="text-center row">
        <div class=" col-md-6">
            <img src="https://i0.wp.com/www.silocreativo.com/en/wp-content/uploads/2017/11/ejemplo-pagina-error-404-creativo.png?fit=666%2C370&quality=100&strip=all&ssl=1" alt=""
                 class="img-fluid">
        </div>
        <div class=" col-md-6 mt-5">
            <p class="fs-3"> <span class="text-danger">Opps!</span> Səhifə tapılmadı.</p>
            <a href="javascript:history.back()" class="btn btn-danger text-light">Arxaya qayıt</a>
        </div>
    </div>
</div>

