@{
    ViewData["Title"] = "QANUNVERİCİLİK";
}

<div class="pt-3 pb-3" style="background-color:#F1F3F7; font-size: 23px">
    <span class="ms-3">QANUNVERİCİLİK</span>
</div>
<div class="mt-3">
    <p>
        <a href="http://www.e-qanun.az/framework/3423" target="_blank">Yol hərəkəti haqqında Azərbaycan Respublikasının qanunu</a>
    </p>
    <p>
        <a href="http://e-qanun.az/framework/46960" target="_blank">Azərbaycan Respublikasının inzibati xətalar məcəlləsi</a>
    </p>
    <p>
        <a href="https://www.dyp.gov.az/?/az/content/206/" target="_blank">Qayda pozuntuların növlərinə görə cərimələr və ballar - CƏDVƏL</a>
    </p>
</div>
