@{
    ViewData["Title"] = "QAYDALAR";
}
<div class="pt-3 pb-3" style="background-color:#F1F3F7; font-size: 23px">
    <span class="ms-3">QAYDALAR</span>
</div>
<div class="mt-3">
    <b style="font-size:15px">ÜMUMİ QAYDALAR</b>
    <p>
        Turbo.az saytında elan yerləşdirilməsi bu İstifadəçi razılaşması (bundan sonra - Razılaşma) ilə tənzimlənir. Saytda təsbit edilmiş Qaydaların pozulması və ya reklam üzrə istifadəçilərin çoxsaylı şikayətləri elanın və eyni zamanda onların sahiblərinin qeydiyyat hesablarının bloklanması ilə nəticələnə bilər. Nəzərdə saxlayın ki, bütün elanlar əlavə xidmətlərin (Premium, VIP və digər) onlara tətbiq edilib-edilməməsindən asılı olmayaraq qaydalara uyğun olmalıdır. Qaydaların pozulması halında hətta ödəniş olunmuş elanlar da blok oluna və ya silinə bilər. Ticarət platformasının bütün istifadəçiləri üçün bərabər şəraitin təmin edilməsi məqsədilə hər kəs elan yerləşdirməzdən əvvəl Turbo.az-ın qaydaları ilə tanış olub riayət etməlidir.
    </p>
    <ol>
        <li>
            Elanların yerləşdirilməsi
            <ul style="list-style:none">
                <li>
                    1.1. 30 gün ərzində istifadəçi ancaq bir pulsuz elan yerləşdirə bilər. Hər yeni elan ödənişlidir – 12 AZN. Elanın müddəti 30 gündür. Əgər elanın müddəti bitibsə və nəqliyyat vasitəsi (bundan sonra NV) satılmayıbsa, istifadəçi bu elanı “İrəli çək” xidmətinin haqqını 3 AZN məbləğində ödəməklə bərpa edə bilər (bu halda elan 3 günlük bərpa olunur).
                </li>
                <li>
                    1.2. 90 gün ərzində istifadəçi bir NV üçün ancaq bir pulsuz elan yerləşdirə bilər. 90 gün ərzində təkrar və ya oxşar (marka/model, rəng) elan yerləşdirmək ödənişlidir. “Təkrar elan” xidmətinin qiyməti 12 AZN-dir. Təkrar elanın dərc olunmasından sonra əvvəlki elan silinir.
                </li>
                <li>
                    1.3. Saytda olan elanda NV haqqında məlumatları və şəkilləri başqa NV-ə aid məlumatlara və şəkillərə dəyişmək qadağandır.
                </li>
                <li>
                    1.4. Saytda eyni zamanda eyni NV ayrı-ayrı elanlarda aşkar olunarsa, hər iki elan silinir. İki elandan birini bərpa etmək və ya yeni elanı yerləşdirmək üçün 12 AZN ödənilməlidir.
                </li>
                <li>
                    1.6. Hər hansı bir ödənişli xidmət elanı xidmətin tətbiq olunma müddətinə bərpa edir və elanın müddətini uzadır.
                </li>
            </ul>
        </li>
        <li>
            Şəkillər
            <ul style="list-style:none">
                <li>
                    2.1. Elanda şəkillərin maksimal sayı 21-dir. Elanda minimum üç şəkil olmalıdır (qəzalı NV üçün məcburi deyil): NV-nin ön hissəsi, arxa hissəsi və salonunun tam ön hissəsi.
                </li>
                <li>
                    2.2. Şəkillərin minimal ölçüsü 1024x768 pikseldir.
                </li>
                <li>
                    2.3. Şəkillər keyfiyyətli olmalıdır.
                </li>
                <li>
                    2.4. Qaranlıqda çəkilmiş şəkillər ancaq NV süni şəkildə kifayət qədər işıqlandırıldıqda qəbul edilir.
                </li>
                <li>
                    2.5. “Skrinşot” şəkilləri dərc olunmur. Çərçivədə olan, və ya ağ/qara xətlərlə olan şəkillər dərc olunmur.
                </li>
                <li>
                    2.6. Nəqliyyat vasitəsi Azərbaycan Respublikası ərazisində çəkilməlidir.
                </li>
                <li>
                    2.7. Şəkillərdə turbo.az loqotipi və ya hər hansı başqa bir loqotip olmamalıdır.
                </li>
                <li>
                    2.8. Şəkillərdəki üfüq xətti şəklin aşağı/yuxarı xəttlərinə tam paralel olmalıdır.
                </li>
                <li>
                    2.9. Şəkillərdə NV-nin dövlət nömrə nişanını və insanları gizlətmək üçün stikerlərin və smaylların istifadəsi qadağandır.
                </li>
                <li>
                    2.10. Şəkillərdə reklam xarakteri daşıyan məlumat olmamalıdır.
                </li>
                <li>
                    2.11. Şəkillərdə əlaqə vasitələri göstərilməməlidir.
                </li>
                <li>
                    2.12. Avtosalonda çəkilmiş şəkillər ancaq həmin avtosalonun adından yerləşdirilə bilər.
                </li>
                <li>
                    2.13. Avtosalon adından yerləşdirilən elanlarda NV-nin avtosalonun içərisində və ya düz qabağında çəkilmiş şəkillər olmalıdır.
                </li>
                <li>
                    2.14. Yad şəxslərin NV şəkillərinin və ya internetdən götürülən şəkillərin yerləşdirilməsi qadağandır!
                </li>
                <li>
                    2.15. Şəkildə avtomobilin rəngi aydın görünməlidir.
                </li>
                <li>
                    2.16. Şəkillərdə avtomobil hazırki vəziyyətində olduğu kimi göstərilməlidir.
                </li>
                <li>
                    2.17. NV qəzalıdırsa, istifadəçi elan yerləşdirərkən bunu mütləq şəkildə qeyd etməlidir. Bu zaman elanın üzərində “Qəzalı” nişanı yer alacaq.
                </li>
            </ul>
        </li>
        <li>
            Qiymət
            <ul style="list-style:none">
                <li>
                    3.1. NV-nin tam qiyməti qeyd olunmalıdır. Əgər NV kreditdədirsə, kredit şərtləri elanın təsvirində qeyd olunmalıdır. ilkin ödəniş məbləğini “Qiymət” xanasında qeyd etmək qadağandır.
                </li>
            </ul>
        </li>
        <li>
            Təsvir
            <ul style="list-style:none">
                <li>
                    4.1. Təsvirdə olan məlumatda təhqiramiz ifadə və reklam xarakterli məlumat olmamalıdır.
                </li>
                <li>
                    4.2. Mobil nömrə və ya digər əlaqə məlumatını daxil etmək qadağandır.
                </li>
                <li>
                    4.3. Təsvirdə yazılan məlumat xanada qeyd olunan məlumata uyğun olmalıdır.
                </li>
                <li>
                    4.4. “Təsvir” bölməsini boş saxlamaq qadağandır. Burada NV haqqında 2-3 cümlə yazın.
                </li>
            </ul>
        </li>
        <li>
            Əlaqə vasitələri
            <ul style="list-style:none">
                <li>
                    5.1. Şəxsi əlaqə vasitələri düzgün qeyd olunmalıdır: ad, elektron poçt ünvanı, telefon nömrəsi.
                </li>
                <li>
                    5.2. Elan dərc olunduqdan sonra telefon nömrəsi ilə bağlı heç bir dəyişiklik həyata keçirilmir.
                </li>
                <li>
                    5.3. Elanda hər hansı dəyişiklik etmək üçün elan dərc olunan zaman sizin elektron ünvanınıza gələn PİN-şifrəni daxil edin. Əgər elektron ünvanınızı səhv qeyd etmisinizsə və ya elanın PIN-şifrəsini itirmisinizsə, bu zaman şifrə telefon nomrənizə göndərilə bilər (bu xidmət ödənişlidir – 1 AZN).
                </li>
                <li>
                    5.4. Elanda telefon nömrəsi səhv qeyd olunubsa, elan saytdan silinəcək.
                </li>
                <li>
                    5.5. İstifadəçi yerləşdirdiyi elanın dəqiqliyinə, tamlığına, onun Azərbaycan Respublikasının Qanunvericiliyinə uyğunluğuna, elanda yerləşdirilən məlumatların üçüncü şəxslərin hüquqlarını pozmamasına və onların iddialarından azad olmasına görə məsuliyyət daşıyır.
                </li>
            </ul>
        </li>
        <li>
            Elanın düzəliş edilməsi
            <ul style="list-style:none">
                <li>
                    6.1. Elanda düzəliş etmək üçün elana daxil olun və “Düzəliş et” düyməsini basın. Dərc olunmamış elanlarda düzəliş etmək mümkün deyil.
                </li>
                <li>
                    6.2. Bir gün ərzində yalnız iki dəfə dəyişiklik etmək mümkündür.
                </li>
                <li>
                    6.3. Bu məlumatlar ilə bağlı heç bir dəyişikliklər həyata keçirilmir: əlaqə məlumatları, marka, model, buraxılış ili.
                </li>
                <li>
                    6.4. Düzəliş edilmiş elan qaydalara uyğun deyilsə, düzəliş qəbul olunmur..
                </li>
                <li>
                    6.5. Düzəlişdən sonra elan bir saat ərzində yoxlamadan keçir.
                </li>
                <li>
                    6.6. Facebook istifadəçilərinin şərhləri silinmir.
                </li>
            </ul>
        </li>
        <li>
            Qara siyahı
            <ul style="list-style:none">
                <li>
                    7.1. Operatora və ya moderatora qarşı hörmətsizlik edən istifadəçinin əlaqə vasitələri blok olunur və o, Turbo.az saytında elan yerləşdirə bilməz!
                </li>
                <li>
                    7.2. Elanda qiyməti fərqli qeyd edib sonradan isə telefonda digər qiymət söyləyən, başqa NV-nin şəkillərini yerləşdirən və ya hər hansı digər qaydaları pozan istifadəçi qara siyahıya düşür və Turbo.az saytında daha elan yerləşdirə bilməz!
                </li>
                <li>
                    7.3. “Təkrar elan” xidmətinin qaydalarını pozduğu halda istifadəçiyə birinci dəfə xəbərdarlıq edilir, yenidən qaydaları pozarsa, qara siyahıya düşür.
                </li>
                <li>
                    7.4. Özəl şəxs (adi istifadəçi) tərəfindən yerləşdirilmiş nəqliyyat vasitəsi elanlarının avtosalon tərəfindən satılması halları aşkar olunduqda, elan silinəcək və istifadəçinin əlaqə vasitələri qara siyahıya əlavə olunacaq. Bu halda ödənilən pul geri qaytarılmır.
                </li>
                <li>
                    7.5. Əlaqə vasitələrinin qara siyahıdan çıxarılması mümkün deyil.
                </li>
                <li>
                    7.6. Üçüncü şəxsin əlaqə vasitələri qeyd edildikdə və həmin səxs şikayət etdikdə əlaqə vasitələri qara siyahıya düşür.
                </li>
            </ul>
        </li>
        <li>
            Avtosalonlar və ticarət fəaliyyəti ilə məşğul olan digər şəxslər
            <ul style="list-style:none">
                <li>
                    8.1. Əgər istifadəçinin ticarət fəaliyyəti ilə məşğul olduğu aşkarlanarsa, onun şəxsi hesabı ticarət fəaliyyəti ilə məşğul olan şəxslər üçün nəzərdə tutulmuş hesaba keçiriləcək.
                </li>
                <li>
                    8.2. Bütün yuxarıda qeyd olunan qaydalar avtosalonlara və ticarət fəaliyyəti ilə məşğul olan digər şəxslərə də aiddir.
                </li>
                <li>
                    8.3. Avtosalonlar və ticarət fəaliyyəti ilə məşğul olan digər şəxslər üçün hər elanın qiyməti 30 AZN təşkil edir.
                </li>
                <li>
                    8.4. Elanın bərpası ödənişlidir. Xidmətin qiyməti 30 AZN.
                </li>
                <li>
                    8.5. Avtosalon adından elan yerləşdirmək üçün ödənişli paketlərdən biri əldə olunmalıdır. Hər paketin müəyyən elan sayı (limiti) mövcuddur. Paket bir ay ərzində aktivdir. Paketdə nəzərdə tutulmuş elan limiti bitdikdə, hər növbəti elanın qiyməti 30 AZN təşkil edir.
                </li>
                <li>
                    8.6. Rəsmi nümayəndələr Turbo.az-da multibrend səhifə yarada bilməzlər. Təmsil etdikləri hər bir nəqliyyat vasitəsinin markası üçün ayrı səhifə əldə olunmalıdır. Rəsmi nümayəndə olmayan avtosalonlara bu qayda şamil olunmur.
                </li>
                <li>
                    8.7. Avtosalon adından yerləşdirilmiş elanın bərpası üçün ödənişli elanların balansından istifadə olunması mümkündür. Ödənişli elanların balansından istifadə olunduqda hər bir elanın bərpası üçün ödəniş 30 AZN təşkil edəcək.
                </li>
                <li>
                    8.8. Turbo.az saytının administrasiyası saytın qaydalarının bilərəkdən pozulması halları zamanı müqaviləni ləğv etmək hüququnu özündə saxlayır. Bu halda ödənilən pul geri qaytarılmır.
                </li>
            </ul>
        </li>
        <li>
            Texniki dəstək xidməti
            <ul style="list-style:none">
                <li>
                    9.1. Texniki dəstəyin telefonları Bazar ertəsi – Cümə saat 09:00-dan 19:00-a qədər, Şənbə 09:00-dan 13:00-a qədər işləyir.
                </li>
                <li>
                    9.2. Texniki dəstəyə müraciət etdikdə mütləq elan nömrəsi qeyd olunmalıdır. Elanın nömrəsi elan yerləşdirilən zaman elektron ünvanınıza göndərilir.
                </li>
                <li>

                </li>
            </ul>
    </ol>
    <p>
        Qayda pozuntularına yol verilibsə, hətta haqqı ödənilmiş elanlar da ləğv edilə bilər.

        Əgər xidmət artıq göstərilibsə, ödənişli xidmətlərə görə ödənilmiş haqq geri ÖDƏNİLMİR. Həmçinin, xidmətin göstərilməsinin başlama vaxtı daha sonraya/əvvələ dəyişdirilə, xidmət başqa elana keçirilə bilməz.

        Hər bir dərc olunmamış elana görə istifadəçinin elanı dərc edərkən göstərdiyi e-mail ünvanına elanın silinməsinin səbəbini izah edən avtomatik servis bildirişi (mesajı) göndərilir.

        Turbo.az saytının Rəhbərliyi Qaydaların istənilən vaxt birtərəfli qaydada, öncədən məlumat vermədən (xəbərdarlıq etmədən) dəyişdirilməsi hüququnu özündə saxlayır.

        Hər hansı bir məlumatı, materialı və fotoşəkili administrasiyanın yazılı icazəsi olmadan istifadə etmək qeyri-qanuni hesab ediləcək və Azərbaycan Respublikasının Qanunlarına əsasən cəzalandırılacaqdır.
    </p>
    <p>
        Son yeniləmə tarixi – 22.11.2022
    </p>
</div>
