 .product-price{
            font-size:25px;
        }

        .product-city{
            color: #9BA2B8;
        }

        .spesis{
            color: #5A5E66;
        }
        .spes-text{
            font-size: 20px;
        }